html, body{
    margin: 0;
    padding: 0;
}

form{
    width: 40%;
    background-color: #2b2b2b;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

form h1{
    color: white;
    float: left;   
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: cover;
    float: left;
}

.input-elm{
    width: 90%;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: white;
    color: grey;

}

select, button{
    width: 95% !important;


}

button{
    background-color: rgb(30, 215, 96) !important;
    color: black;   
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: #2b2b2b;
    border: solid white;
}


